.form-element-container {
  .form-element-topbar {
    border-bottom: 1px darkgrey solid;
  }
  .form-element-title {
    padding-bottom: 10px;
    font-size: large;
    &.show-element {
      width:100%;
    }
    &.hide-element {
      width:50%;
    }
  }
  .form-element-pagination {
    display: block;
    width: 50%;
    padding: 5px 5px 27px;
    background-color: lightgrey;
    .form-element-numbers {
      float: left;
      display: block;
      width: 80%;
      margin-top: 5px;
      margin-left: 5px;
    }
    .form-element-controls {
      float: right;
      display: block;
      width: 10%;
      button {
        padding: 2px;
      }
    }
    &:after {
      clear: both;
    }
  }
  .form-element-pages {
    background-color: #eee;
    width: 100%;
    height: 40px;
    padding: 10px;
    .input {
      display: block;
      padding-top: 10px;
      margin: 0 auto;
      width: 80%;
    }
  }
  .element-show {
    display:none;
  }
  .element-hide {
    display:block;
  }
}
